* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #0f1123;
}

/* CONTAINER */

#plane {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/*  */

.firefly {
    width: 150px;
    height: 150px;

    transform-origin: top center; 
    animation: flutter 3s linear reverse infinite; 
}

.glow, .bug {
    position: absolute;
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 50%;
    background-color: yellow;
}

.glow {
    filter: opacity(50%);
    animation: glow 5s infinite alternate ease-in-out;
}

.bug {
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 50%;
    animation: bright 5s infinite alternate ease-in-out;
    background-color: yellow;
}

/* ANIMATIONS */

@keyframes flutter {
    50% {
        transform: rotate(-180deg);
    }
    100% {
        transform: rotate(-360deg);
    }
} 

@keyframes glow {
    100% {
        transform: scale(2);
    }
}

@keyframes bright {
    100% {
        filter: brightness(200%);
    }
}
